<template>
  <div id='alert' v-show="message">
    {{message}}
  </div>
</template>
<script>
export default {
  name: 'alert',
  props: {
    message: String,
  },
};
</script>
<style>
  #alert {
    background: #F7E4E1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 5px;
  }
</style>
