<template>
  <div id='command'>
    <input type='text' @keyup.13='runCommand' v-model='command'/>
    <a href='#' @click='runCommand' class='btn btn-primary'>Run</a>
  </div>
</template>
<script>
import Parse from '../../js/parse';

export default {
  name: 'command',
  data() {
    return {
      command: '',
      parse: new Parse(),
    };
  },
  methods: {
    runCommand() {
      const htmlFromCommand = this.parse.htmlFromCommand(this.command);
      this.command = '';
      if (htmlFromCommand.success) {
        Parse.insertDoc(htmlFromCommand.html);
        this.$emit('command');
      } else {
        // stupid hacky crap for right now.
        const alert = document.getElementById('alert');
        alert.textContent = '';
        this.$emit('alert', htmlFromCommand.error);
      }
    },
  },
};
</script>
<style scoped>
#command {
  position: absolute;
  bottom: 0;
  width: 99%;
}
input {
  width: 100%;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, monospace, serif;
  font-size: 22px;
}

input:focus {
  outline: 0;
}

a.btn.btn-primary {
  position: absolute;
  top: 0px;
  right: -4px;
  color: #FFF;
  background: #0366D6;
}

</style>
