<template>
  <div id="app">
    <alert :message='alertMessage'></alert>
    <command @alert='alert' @command='command'></command>
  </div>
</template>

<script>
import $ from 'jquery';
import Alert from './components/command/Alert';
import Command from './components/command/Command';

export default {
  name: 'app',
  components: {
    Alert,
    Command,
  },

  mounted() {
    $(document).on('alertmessage', (e, m) => {
      this.alertMessage = m;
    });
  },

  data() {
    return {
      alertMessage: '',
    };
  },

  methods: {
    alert(e) {
      this.alertMessage = e.toString();
    },

    command() {
      this.alertMessage = '';
    },
  },
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

input {
  border: 1px solid #CCC;
}

.btn {
  padding: 3px 12px;
}

.btn.btn-primary {
  border: 1px solid #CCC;
  background: #FFF;
  text-decoration: none;
}
</style>
